<div class="flex justify-center pt-3">
    <h1 class="text-2xl text-gray-700 font-normal w-full text-center">CREATE AN ACCOUNT</h1>
</div>
<form #registerForm (ngSubmit)="onFormSubmit()" class="pt-8 px-8 space-y-4" method="post" novalidate>
    <div class="flex w-full border-2 py-2 px-4 rounded-lg justify-between space-x-4">
        <img src="assets/images/user.svg" />
        <input
            [(ngModel)]="model.name"
            name="name"
            class="outline-none border-0 text-lg w-full"
            placeholder="FIRST NAME"
            required
        />
    </div>
    <div class="flex w-full border-2 py-2 px-4 rounded-lg justify-between space-x-4">
        <img src="assets/images/user.svg" />
        <input
            [(ngModel)]="model.surname"
            type="text"
            name="surname"
            class="outline-none text-lg border-0 w-full"
            placeholder="LAST NAME"
        />
    </div>
    <div class="flex w-full border-2 py-2 px-4 rounded-lg justify-between space-x-4">
        <img src="assets/images/email.svg" />
        <input
            [(ngModel)]="model.emailAddress"
            type="email"
            name="emailAddress"
            class="outline-none text-lg border-0 w-full"
            placeholder="EMAIL"
            required
            pattern="^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$"
        />
    </div>
    <div class="flex w-full border-2 py-2 px-4 rounded-lg justify-between space-x-4">
        <img src="assets/images/security.svg" />
        <input
            [(ngModel)]="model.password"
            name="password"
            class="outline-none text-lg border-0 w-full"
            type="password"
            placeholder="PASSWORD"
            required
            maxlength="32"
        />
    </div>
    <div class="flex w-full border-2 py-2 px-4 rounded-lg justify-between space-x-4">
        <img src="assets/images/security.svg" />
        <input [(ngModel)]="model.role" name="role" class="outline-none text-lg border-0 w-full" required />
        <select [(ngModel)]="model.role" name="role" required>
            <option value="user">Yacht Owner</option>
            <option value="vendor">Vendor</option>
        </select>
    </div>
    <div class="flex w-full border-2 py-2 px-4 rounded-lg justify-between space-x-4">
        <img src="assets/images/security.svg">
        <input [(ngModel)]="model.role" name="role" class="outline-none text-lg border-0 w-full" required>
        <select [(ngModel)]="model.role" name="role" required>
            <option value="yachtowner">Yacht Owner</option>
            <option value="vendor">Vendor</option>
        </select>
    </div>
    <div class="pt-10 px-8">
        <div class="space-y-6">
            <button
                [buttonBusy]="saving"
                [busyText]="l('SavingWithThreeDot')"
                type="submit"
                class="button-color w-full rounded-lg text-white py-4 text-xl"
            >
                SIGN UP
            </button>
            <button
                type="button"
                class="w-full rounded-lg text-gray-500 py-3 text-lg border-gray-300 border-[0.5px] border-solid flex"
            >
                <div class="flex justify-center w-full space-x-5">
                    <img src="assets/images/g-logo.svg" />
                    <span>SIGN UP WITH GOOGLE</span>
                </div>
            </button>
            <button
                type="button"
                class="w-full rounded-lg text-gray-500 py-3 text-lg border-gray-300 border-[0.5px] border-solid flex"
            >
                <div class="flex justify-center w-full space-x-5">
                    <img src="assets/images/apple-logo.svg" />
                    <span>SIGN IN WITH APPLE</span>
                </div>
            </button>
        </div>
    </div>
</form>
<div class="flex justify-center px-8 pt-3 pb-2">
    <label class="text-gray-500 text-[14px] text-uppercase">
        ALREADY HAVE AN ACCOUNT ?
        <a routerLink="/account/login" class="font-bold text-gray-600">SIGN IN</a>
    </label>
</div>
