
<div class="flex justify-center px-6 pt-12">
    <h1 class="text-4xl text-gray-700 font-normal text-uppercase">VERIFY ACCOUNT</h1>
</div>
<div class="flex justify-center px-6 pt-1">
    <h1 class="text-[13.2px] font-normal text-center text-gray-700 text-uppercase">Please enter the 4 digit verification code <br> sent to your mail</h1>
</div>

<div class="flex flex-">
    <ng-otp-input [config]="baseService.config"></ng-otp-input>
</div>

<div class="pt-10 px-8">
    <button class=" button-color w-full rounded-lg text-white py-4 text-xl">SIGN IN</button>
</div>
