<div class="h-screen main-bg">
    <div class="flex flex-col h-full w-full relative">
        <div class="grow h-full overflow-auto">
            <div class="flex flex-wrap content-center h-full w-full">
                <div class="flex justify-center w-full">
                    <div class="w-[450px]">
                        <div class="bg-white rounded-lg w-full py-8">
                            <div class="flex justify-center w-full">
                                <img src="assets/images/yacht-watch-logo.png" class="w-[15rem]">
                            </div>
                            <router-outlet></router-outlet>
                        </div>
                        <label class="text-uppercase text-center text-2xl pt-4 block">
                            Automated Scheduling, Status and Management of your Vessel...<br>
                            <strong>in Real Time!</strong>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
