<header id="header" class="header fixed-top d-flex justify-content-between"
    style=" left: 0px;box-shadow: 0px 3px 6px #00000029;">

    <div class="d-flex align-items-center justify-content-between" style="flex: 1;">
        <svg style="margin-left: 14%;" id="search" xmlns="http://www.w3.org/2000/svg" width="40" height="40"
            viewBox="0 0 18.999 19.005">
            <path id="_24be5d6bf49907d701b8c954fb7f4b2b" data-name="24be5d6bf49907d701b8c954fb7f4b2b"
                d="M3.506,14.312a7.628,7.628,0,0,0,10.087.626l5.052,5.052a.95.95,0,1,0,1.343-1.343l-5.052-5.052a7.638,7.638,0,1,0-11.43.717ZM4.849,4.851a5.74,5.74,0,1,1-1.681,4.06,5.74,5.74,0,0,1,1.681-4.06Z"
                transform="translate(-1.267 -1.263)" fill="rgba(0,0,0,0.8)" />
        </svg>

    </div>

    <div class="brand-logo" style="flex: 1">
        <img src="../../assets/images/yacht-watch-logo-transparent.png" style="height: 81px;">
    </div>

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center" style="padding-right: 3%;">

            <li class="nav-item dropdown sm-hidden">
                <span style="display: inline-flex;">
                    <img src="../../../assets/svgs/us.svg" alt="">
                    <span><i class='bx bx-chevron-down' style="font-size: 25px;margin-left: 10px;"></i></span>

                </span>

            </li><!-- End Notification Nav -->

            <li class="nav-item dropdown mx-10 sm-hidden">

                <span>
                    <table>
                        <tbody>
                            <tr>Happy Place</tr>
                            <tr style="font-size: 10px;">CHS 127-714B</tr>
                        </tbody>
                    </table>
                </span>



            </li><!-- End Messages Nav -->

            <li class="nav-item dropdown pe-3">
                <span style="display: inline-flex;">
                    <img src="../../../assets/images/happy-place.png" alt="">
                    <span><i class='bx bx-chevron-down' style="font-size: 25px;margin-left: 10px;"></i></span>

                </span>

            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Header Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link active" href="#">
                <img src="../../../assets/images/logo-white.webp" alt="Home" />
                <span>Home</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <img src="../../../assets/svgs/button.svg" alt="request service"> <span>Request Service</span>
            </a>

        </li><!-- End Components Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <img src="../../../assets/svgs/calendar.svg" alt="calendar"><span>Calendar</span>
            </a>
        </li><!-- End Forms Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <img src="../../../assets/svgs/yatch-dark.svg" alt="my yatchs"><span>My Yatchs</span>
            </a>
        </li><!-- End Tables Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                <img src="../../../assets/svgs/settings.svg" alt="settings"><span>Settings</span>
            </a>
        </li><!-- End Charts Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
                <img src="../../../assets/svgs/menu.svg" alt=""><span>More</span>
            </a>
        </li><!-- End Icons Nav -->


    </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">



    <section class="section dashboard">
        <div class="row">

            <!-- Right side columns -->
            <div class="col-lg-3" style="padding-right: 0px;
                padding-right: 20px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
            ">

                <!-- welcome message  -->
                <div class="col-lg-12 col-sm-12 text-center">
                    <h1 class="my-0 mb-10" style="font-weight: 300;padding-right: 24px; text-transform: none;">Welcome
                        back,
                        David!</h1>

                </div><!-- End of welcome message -->

                <!-- Menu Card -->
                <div class="menu-cards active">


                    <div class="card-inner">
                        <div class="badge-container"><span class="badge">6</span></div>
                        <div class="text-center">
                            <img src="../../../assets/svgs/yatch.svg" alt="yatch">
                            <img src="../../../assets/svgs/exclaim.svg" style="transform: translate(-6px, 18px);"
                                alt="">
                        </div>
                        <div class="pt-3">
                            <h6>ship shape</h6>

                        </div>
                    </div>


                </div>

                <div class="menu-cards">


                    <div class="card-inner">
                        <div class="badge-container"><span class="badge">2</span></div>
                        <div class="text-center">
                            <img src="../../../assets/svgs/stats-icons.svg" alt="yatch">
                        </div>
                        <div class="pt-3">
                            <h6>yatch vitals</h6>

                        </div>
                    </div>


                </div>

                <div class="menu-cards">


                    <div class="card-inner">
                        <div class="badge-container"> <span class="badge">3</span></div>
                        <div class="text-center">
                            <img src="../../../assets/svgs/open-orders.svg" alt="yatch">
                        </div>
                        <div class="pt-3">
                            <h6>open orders</h6>

                        </div>
                    </div>


                </div>

                <div class="menu-cards">


                    <div class="card-inner">
                        <div class="badge-container"><span class="badge" style="visibility: hidden;">6</span></div>
                        <div class="text-center">
                            <img src="../../../assets/svgs/yatch-dark.svg" alt="yatch">
                        </div>
                        <div class="pt-3">
                            <h6>yatch profile</h6>

                        </div>
                    </div>


                </div>

                <div class="menu-cards">


                    <div class="card-inner">
                        <div class="badge-container"><span class="badge">3</span></div>
                        <div class="text-center">
                            <img src="../../../assets/svgs/invoices.svg" alt="yatch">
                        </div>
                        <div class="pt-3">
                            <h6>invoice</h6>

                        </div>
                    </div>


                </div>

                <div class="menu-cards">


                    <div class="card-inner">
                        <div class="badge-container"><span class="badge" style="visibility: hidden;">6</span></div>
                        <div class="text-center">
                            <img src="../../../assets/svgs/live-review.svg" alt="yatch">
                        </div>
                        <div class="pt-3">
                            <h6>live view</h6>

                        </div>
                    </div>


                </div>

                <div class="menu-cards">

                    <!-- <span class="badge">6</span> -->
                    <div class="card-inner">
                        <div class="badge-container"><span class="badge" style="visibility: hidden;">6</span></div>
                        <div class="text-center">
                            <img src="../../../assets/svgs/weather.svg" alt="yatch">
                        </div>
                        <div class="pt-3">
                            <h6>weather</h6>

                        </div>
                    </div>


                </div>

                <div class="menu-cards">

                    <div class="card-inner">
                        <div class="badge-container"><span class="badge" style="visibility: hidden;">6</span></div>
                        <div class="text-center">
                            <img src="../../../assets/svgs/captain.svg" alt="yatch">
                        </div>
                        <div class="pt-3">
                            <h6>captains corner</h6>

                        </div>
                    </div>


                </div>
                <!-- End Sales Card -->



            </div><!-- End Right side columns -->

            <!-- Left side columns -->
            <div class="col-lg-9" style="padding-left: 30px;padding-right: 2%;">
                <div class="row">


                    <!-- Recent Sales -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title" style="visibility: hidden;">Recent Sales <span>| Today</span>
                                </h5>

                                <table style="visibility: hidden;" class="table table-borderless datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Customer</th>
                                            <th scope="col">Product</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="color: #fff;">
                                            <th scope="row"><a href="#">#2457</a></th>
                                            <td>Brandon Jacob</td>
                                            <td><a href="#" class="text-primary">At praesentium minu</a></td>
                                            <td>$64</td>
                                            <td><span class="badge bg-success">Approved</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a href="#">#2147</a></th>
                                            <td>Bridie Kessler</td>
                                            <td><a href="#" class="text-primary">Blanditiis dolor omnis similique</a>
                                            </td>
                                            <td>$47</td>
                                            <td><span class="badge bg-warning">Pending</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a href="#">#2049</a></th>
                                            <td>Ashleigh Langosh</td>
                                            <td><a href="#" class="text-primary">At recusandae consectetur</a></td>
                                            <td>$147</td>
                                            <td><span class="badge bg-success">Approved</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a href="#">#2644</a></th>
                                            <td>Angus Grady</td>
                                            <td><a href="#" class="text-primar">Ut voluptatem id earum et</a></td>
                                            <td>$67</td>
                                            <td><span class="badge bg-danger">Rejected</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><a href="#">#2644</a></th>
                                            <td>Raheem Lehner</td>
                                            <td><a href="#" class="text-primary">Sunt similique distinctio</a></td>
                                            <td>$165</td>
                                            <td><span class="badge bg-success">Approved</span></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div><!-- End Recent Sales -->


                </div>
            </div><!-- End Left side columns -->

        </div>
    </section>

</main><!-- End #main -->