body {
    background-color: #eee;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
 }

.wrapper {
    max-width: 500px;
    border-radius: 10px;
    margin: 50px auto;
    padding: 30px 40px;
    box-shadow: 20px 20px 80px rgb(206, 206, 206)
}

.h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 3.5rem;
    font-weight: bold;
    color: #E0E0E0;
    font-style: italic
}

.h4 {
    font-family: 'Poppins', sans-serif
}

.input-field {
    border-radius: 10px;
    padding: 5px 9px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #E0E0E0;
    color: #E0E0E0;
}

.input-field:hover {
    color: #E0E0E0;
    border: 1px solid #E0E0E0;
}

input {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    padding: 0px 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #727272 !important;
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none
}

a {
    text-decoration: none;
    color: #E0E0E0;
    font-weight: 700
}

a:hover {
    text-decoration: none;
    color: #E0E0E0
}

.option {
    position: relative;
    padding-left: 30px;
    cursor: pointer
}

.option label.text-muted {
    display: block;
    cursor: pointer
}

.option input {
    display: none
}

.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer
}

.option input:checked~.checkmark:after {
    display: block
}

.option .checkmark:after {
    content: "";
    width: 13px;
    height: 13px;
    display: block;
    background: #E0E0E0;
    position: absolute;
    top: 48%;
    left: 53%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out 0s
}

.option input[type="radio"]:checked~.checkmark {
    background: #fff;
    transition: 300ms ease-in-out 0s;
    border: 1px solid #E0E0E0
}

.option input[type="radio"]:checked~.checkmark:after {
    transform: translate(-50%, -50%) scale(1)
}

.btn.btn-block {
    border-radius: 10px;
    color: #fff;
    background: transparent linear-gradient(180deg, #0089D0 0%, #00679C 50%, #004568 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    text-transform: uppercase;
    font-weight: 400;
}

.btn.btn-block:hover {
    opacity: .8;
    cursor: pointer;
    font-weight: 401;
}

@media(max-width: 575px) {
    .wrapper {
        margin: 10px
    }
}

@media(max-width:424px) {
    .wrapper {
        padding: 30px 10px;
        margin: 5px
    }

    .option {
        position: relative;
        padding-left: 22px
    }

    .option label.text-muted {
        font-size: 0.95rem
    }

    .checkmark {
        position: absolute;
        top: 2px
    }

    .option .checkmark:after {
        top: 50%
    }

    #forgot {
        font-size: 0.95rem
    }
}

::ng-deep .wrapper {
    padding-left: 0 !important;
}

.text-header {
    font-size: 20px;
    color: #727272;
    font-weight: 500;
}

.text-subheader {
    font-size: 14px;
    color: #000000;
    font-weight: 300;
}

.form-group label {
    color: #727272;
    font-size: 14px;
    font-weight: 400;
}

.far {
    line-height: 1.2 !important;
}

.btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon) {
    padding: calc(0.85rem + 1px) calc(1.5rem + -12px) !important;
}